<div class="card">
	<ul>
    <div class="card-header">
			<li><h2><%= product.name %></h2></li>
    </div>
    
    <div class="card-image">
      <%= image_tag product.image_url %>
    </div>
    
    <div class="card-copy">
				<li><%= product.description %></li>
    </div>
		
		<div class="add-to-cart-btn">
			<div class="modal">
			  <label for="modal-<%= product.id %>">
			    <div class="modal-trigger">Add to cart</div>
			  </label>
			  <input class="modal-state" id="modal-<%= product.id %>" type="checkbox" />
			  <div class="modal-window">
			    <div class="modal-inner">
			      <label class="modal-close" for="modal-<%= product.id %>"></label>
			      <h1><%= product.name %></h1>
			      <p class="modal-intro">Please make a selection to add to your cart:</p>
			      <p class="modal-content">
				      <% product.packages.each do |package| %>
								<div class ="package">
									<ul>
										<li class="package-header"><%= package.volume_in_ml %> ml <%= package.container_type %></li>
										<li>Quantity <%= package.quantity %> / $<%= package.price %></li>
									</ul>
									<%= form_for @order, remote: true do |f| %>
										<%= f.hidden_field :package_id, value: package.id %>
										<%= f.hidden_field :product_id, value: product.id %>
										<%= f.hidden_field :cart_id, value: current_cart.id %>
										<%= f.submit "Add to cart", class: "btn btn-primary" %>
				      		<% end %>
								</div>
						<% end %>
			      </p>
			    </div>
			  </div>
			</div>
		</div>
	</ul>
</div>


