<div class="card">
	<ul>
    <div class="card-header">
			<li><h2><%= product.name %></h2></li>
    </div>
    
    <div class="card-image">
      <%= image_tag product.image_url %>
    </div>
    
    <div class="card-copy">
				<li><%= product.description %></li>
    </div>
		
		<div class="add-to-cart-btn">
			<div class="modal">
			  <label for="modal-1">
			    <div class="modal-trigger">Add to cart</div>
			  </label>
			  <input class="modal-state" id="modal-1" type="checkbox" />
			  <div class="modal-window">
			    <div class="modal-inner">
			      <label class="modal-close" for="modal-1"></label>
			      <h1>Product name</h1>
			      <p class="modal-intro">Please make a selection to add to your cart:</p>
			      <p class="modal-content">	      	
						<%= form_for @order, remote: true do |f| %>
							<%= f.hidden_field :product_id, value: product.id %>
							<%= f.submit "Add to cart", class: "btn btn-primary" %>
						<% end %>
			      </p>
			    </div>
			  </div>
			</div>
		</div>
	</ul>
</div>


